.steps{
    display:flex;
    justify-content: center;
    aling-items:center;
    gap: 20px;
}
.step-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    border-bottom: 1px solid #e1e1e6;   
}
 
.step-icons i{
 font-size: 2rem; 
 color: #e1e1e6;
}
.step p{
    color: #e1e1e6;
}
.step  .active{
    color: #256DE8;
}