.titulo-principal{
    font-size: 40px;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #0DA7FA;
    border-radius: 20px;
    margin: auto 80px 40px 80px;
    padding: 10px;
}
.btn-primary{
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #0DA7FA;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    border:none;
}
.conteudo-secundario-text h2{
    font-size: 26px
}

.btn-principal{
 display: flex;
 justify-content: flex-end;
 margin-top: 15px;
 padding: 20px
}
.content-main{
    width: 300px;
    padding: 20px;  
}



